<html>
  <head>
    <title></title> Django Project</head><title></title>
    <h1>
      First html page
    </h1>
    </head>
  <body>
    <form action="index" method="post">
      <input type="text" name="box1">
      <button type="submit">Submit</button>
      {% csrf_token %}
    </form>
    <form action="index2" method="post">
      <input type="text" name="box2">
      <button type="submit">Submit</button>
      {% csrf_token %}
    </form>
    <form action="index3" method="post">
      <input type="text" name="box3">
      <button type="submit">Submit</button>
      {% csrf_token %}
    </form>
  </body>
</html>
